@{layout("")}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo App</h1>
    <button onclick="tambah()">Add todo</button>
    <ol id="data">
        <!--li>Membuat Website 1 | progress | @{NOW.format("yyyy-MM-dd")} | <button onclick="hapus(0)">Delete</button>
            <button onclick="ubah(0)">Edit</button>
        </li-->
         


    </ol>
    <!--script type="text/javascript">
        window.alert=function(){
            console.log("helloword");
        };
        window.alert();


        var name="jht";
        console.log(window.name);
    </script-->
    <script src ="/js/todo.js"></script>
</body>
</html>